@CHARSET "ISO-8859-1";

div.filter	/* div showing search parameters */
{
	 float:left;
	 width:260px;
	 margin-right:5px;
	 margin-left:0px;
	 margin-top:23px;
	 padding:10px;
	 border:1px solid gray;
	 border-radius:15px;
	 background-color: white;
	 font-size: small;
	 font-weight: bold;
}

div.results	/* div displaying found properties */
{
	float:right;
	width:600px; 
	border:1px solid gray;
	padding-left:10px;  /* Increasing this or bottom padding prevented 'results' div to pop down under 'filer' div */
	padding-bottom:15px; 
	margin-right: 320px;
	margin-left:1px;
	margin-top:0px;
	margin-bottom:0px;
	border-radius:15px;
	background-color: white;
}

table	/* style for the results table */
{
	width:600px;		/* make table same width as 'results' div */
	padding-top: 15px;
	border-spacing: 15px;
	font-size: small;
}

img		/* style for property images within the table */
{
	border-radius:5px;
	width:80%;
}

td.subrow	/* Text in each subrow: location, price, description, for sale */
{
	width: 60%;
	font-weight: bold;
}

th.pic_align	/* alignement of property image inside the cell */
{
	vertical-align: top; /* put it on top */
}
