@CHARSET "ISO-8859-1";

/*$TODO - improve*/

ul
{
list-style-type:none;
margin: 0%;
padding:0%;

}
li
{
display:inline;
padding-left: 0px;
padding-top: 25px;
padding-right: 0px;
padding-bottom: 25px;

}
a:link,a:visited
{
/*display:block;*/
width:120px;
font-weight:bold;
color:#1F1F1F;
background-color:#8DEEEE;
text-align:center;
padding:4px;
text-decoration:none;
text-transform:uppercase;
}
a:hover,a:active
{
background-color:#E0FFFF;
color:#1F1F1F;
}